@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Roboto', sans-serif;

}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 56px;
    padding: 0 15px;
}

.left{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left img {
    width: 50%;
}

.center {
    display: flex;
    align-items: center;
  
}

.center form {
    display: flex;
    height: 36px;
    width: 628px;
}
.center form input {
    width: 100%;
    border-radius: 2px 0 0 2px;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #d3d3d3;
    border-right: none;
}
.center form button {
    width: 60px;
    border-radius: 0 2px 2px 0;
    border: 1px solid #d3d3d3;
    padding-top: 3px;
    cursor: pointer;
}

.center form button:hover {
    background-color: #e9e8e8;
}


.center .mic {
    width: 40px;
    height: 40px;
    background-color: #f6f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.right a {
    color: black;
    margin-left: 15px;
}

.content {
    height: calc( 100vh - 56px);
    display: flex;
    background-color: #f9f9f9;
}

aside {
    height: 100%;
    width: 280px;
    background-color: white;
    overflow-y: auto;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0 ;
    padding-right: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-link:hover {
    background-color: #d6d6cf;
}

.nav-link span {
    margin-left: 25px;
    font-size: 15px;
    font-weight: 600;
}

.active {
    background-color: #eee;
}





















